<div class="content">
    <nav>
        <section class="image"></section>
        <div>
            <section class="name">
                <article class="title">Igor Schneider</article>
                <article class="subtitle">Senior Fullstack Developer</article>
            </section>
            <section class="stats">
                <section>
                    <article><b>Address</b></article>
                    <article>Paulsborner Str. 88</article>
                    <article>10709 Berlin, Germany</article>
                </section>
                <section class="links">
                    <article><b>Contact</b></article>
                    <article>
                        <i class="material-icons-outlined">email</i>
                        <a href="mailto:igor.schneider@outlook.com">igor.schneider@outlook.com</a>
                    </article>
                    <article>
                        <i class="material-icons-outlined">call</i>
                        <span>+49 178 132 1337</span>
                    </article>
                </section>
                <section>
                    <article><b>Social</b></article>
                    <article>Xing: <a href="https://www.xing.com/profile/Igor_Schneider3/cv">Link</a></article>
                    <article>LinkedIn: <a href="https://www.linkedin.com/in/igor-schneider-ab063b28/">Link</a></article>
                </section>
            </section>
        </div>
    </nav>

    <!-- Work experience -->
    <section class="work">
        <article class="title">Work experience</article>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Senior Software Engineer @ <b>Akelius GmbH</b> (Sept 2018 - Now)
                <hr />
            </article>
            <div class="project">
                <b>Lettings Application</b>
                <article class="description">
                    Design and development of an international application for renting apartments, parking and
                    commercial spaces (Angular, Angular Material, Azure Functions, Azure Cosmos DB).
                </article>
            </div>

            <div class="project">
                <b>Shared Component Library</b>
                <article class="description">
                    Design and development of a shared library for custom Frontend components (Angular, Angular
                    Material).
                </article>
            </div>

            <div class="project">
                <b>Akelius Material</b>
                <article class="description">
                    Development of a corporate identity/style guide for internal applications (Angular, Angular
                    Material).
                </article>
            </div>

            <div class="project">
                <b>Virtual Viewing</b>
                <article class="description">
                    Design and Development of an application for virtual apartment viewings (Angular, Angular Material,
                    three.js).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>Cornelsen Verlag GmbH</b> (Sept 2014 - Sept 2018)
                <hr />
            </article>

            <div class="project">
                <b
                    >Interactive exercises for Scook
                    <a href="https://www.scook.de/scook/interaktive-uebungen">Link</a></b
                >
                <article class="description">
                    Design and development of Online exercises for various school subjects (AngularJS and later Angular
                    2+).
                </article>
            </div>

            <div class="project">
                <b>Produkt-o-Mat</b>
                <article class="description">
                    Design and development of a custom CMS for creating content and metadata for internal e-learning
                    products (Angular, asp.net core, MongoDB).
                </article>
            </div>

            <div class="project">
                <b>Lunchtime</b>
                <article class="description">
                    Design and development of an internal application for setting up colleagues for a blind lunch
                    (Angular, asp.net core, MongoDB, Google Maps API).
                </article>
            </div>

            <div class="project">
                <b>e-Cademy</b>
                <article class="description">
                    Design and development of an e-learning platform to assist post-school Apprenticeships (Angular,
                    node.js, express.js, PostgreSQL).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>protected-networks.com GmbH</b> (Mar 2012 - Sept 2014)
                <hr />
            </article>

            <div class="project">
                <b>8MAN</b>
                <article class="description">
                    Feature development of a Windows client application for managing permissions and access rights on
                    Windows Servers and Active Directories (Windows Presentation Foundation).
                </article>
            </div>

            <div class="project">
                <b>8MAN GrantMa</b>
                <article class="description">
                    Design and development of a single page application (SPA) for managing permissions and access rights
                    on Windows Servers and Active Directories (sammy.js, jQuery, asp.net MVC).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>Smarthouse Media GmbH</b> (Aug 2011 - Feb 2012)
                <hr />
            </article>

            <div class="project">
                <b>Relaunch of the Welt.de finance page <a href="http://www.welt.de/boerse/">Link</a></b>
                <article class="description">Feature development of custom Web controls (asp.net Webforms).</article>
            </div>
        </section>
    </section>

    <!-- About -->
    <section class="work">
        <article class="title">About</article>
        <section class="company">
            <p>
                I have started my journey as a software engineer in 2009, shortly before graduating from university. I
                spent 2 years working as a student partner at Microsoft, teaching programming in C#/.net to my fellow
                students and doing some smaller projects in various Microsoft related technologies. The first 3 years of
                my career I spent mostly as a backend developer and a client-side Windows developer.
            </p>

            <p>
                In 2014, I decided to focus more on the Web where AngularJS (and later Angular) emerged as my framework
                of choice. I have been working with Angular ever since and after 6 years and around 7 projects I have
                gained significant proficiency in the framework.
            </p>

            <p>
                In the past 4 years I often played the role of a mentor to junior developers or student workers,
                teaching them software architecture, developing skill trees, exercises, establishing communities of
                practice etc. It was something I very much enjoyed.
            </p>

            <p>
                I was also fortunate to take part in developing several digital products from the ground up. I gained
                knowledge about product management, agile development/scrum and UX. I enjoy working in cross-functional
                teams and my ideal employer would have an open platform for discussing ideas in contrast to hard
                hierarchies.
            </p>
        </section>
    </section>

    <!-- Education -->
    <section class="work">
        <article class="title">Education</article>

        <section class="company">
            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    Graduated as an <b>IT technician</b> from the <b>Academic high school of Rudjer Boskovic</b> (2004,
                    Zagreb, Croatia).
                </span>
            </article>

            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    Studied <b>theoretical Physics</b> at the <b>University of Zagreb</b> (2005, Zagreb, Croatia).
                </span>
            </article>

            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    Graduated as a <b>Univ.Bacc.Comp. (Bachelor of Science)</b> at the
                    <b>Faculty of Electrical Engineering and Computing</b> (2010, Zagreb, Croatia).
                </span>
            </article>
        </section>
    </section>

    <!-- Skills -->
    <section class="work">
        <article class="title">Skills</article>

        <section class="company">
            <div class="skill">
                <span>Angular</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>Typescript/Javascript</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>LESS/SASS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>NodeJS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>express.js</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>NestJS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>MongoDB</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>RavenDB</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Gulp</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>asp.net core/.net core</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Microsoft Azure</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Scrum and agile software development</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>UX/UI design</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
        </section>
    </section>

    <!-- Languages -->
    <section class="work">
        <article class="title">Languages</article>

        <section class="company">
            <article class="project">
                <i class="material-icons-outlined">language</i>
                Croatian (native proficiency).
            </article>

            <article class="project">
                <i class="material-icons-outlined">language</i>
                German (native proficiency).
            </article>

            <article class="project">
                <i class="material-icons-outlined">language</i>
                English (C2 level).
            </article>
        </section>
    </section>
</div>
